.examHeaderCard {
  margin-top: 25px;
  margin-bottom: 0px;
  width: 60%;
  border: 0.5px solid #cccccc;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#0e5496, #1890ff);
}
