.createExamModal {
  display: flex;
  flex-direction: column;
}

.inputStyle {
  width: 100%;
  margin-bottom: 10px;
}

.buttonFix {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
}
